

/********FORMS**************/
.navbar-form{
	padding-top: 7px;
}

.form-pad div{
	padding: 10px;

}

.form-pad span{
	padding-left: 15px;
}


.field{
	padding: 10px;
	width: 70%;
	/*margin: 10px;*/
}

.field .web{
	width: 45%;
}

.field label{
	font-size: 16px;
	width: 60%;
}

.field textarea{
	height: 100px;
	width: 70%;

}

.field input{
	width: 450px;
}


.field-btn{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	/*border-radius: 6px;*/
}

.field-links{
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	/*border-radius: 6px;*/
}

.field-check{
	margin-left: 20px;
}

.box {
	width: 20px;
	
}


.field-header{
	width: 100%

}

.form-group{
	padding-right: 10px;
}