

/**************************SUPERGENERAL******************/

/**this is to style the line under date in the boxes in eventindex**/
hr{
	margin-top:4px;
	margin-bottom:7px;
	border-color:rgb(180,180,180);
	margin-right:7px;
}

/**this is to make the table view link blue **/
h5 a{
	color: #6685C2;
}

/**to make the links blue **/
a{
	color: #6685C2;
}

/**************************MEDIAQUERY*************************/

/** Different views when it's mobile **/
@media screen and (min-width: 0px) and (max-width: 485px) {
/**This is to make 'Make a diff' disappear when mobile**/
  #dis{ 
  	display: none; 
  }
/**This is to move the volunteer button when mobile **/
  .btn-style{ 
  	margin-top: 5vh;
  	margin-left: 23px;
  }
/** This is to move the event box masonry when mobile **/
	  #event-box{
		margin-left: 0px;
		padding-left: 0px;
	}


	.alleventitems{
		list-style-type: none;
		border-radius: 15px;
		padding-left: 0;
		margin-left: 0;
		width: 85%;
	}

	/**this creates the border of the box **/
	.eventitem{
		list-style-type: none;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 10px;
		width: 85%;

	}
	.copyright{
		padding-left: 200px;
	}

  .home{
	
/* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
	}
/**This is to fix the image in the show page when mobile **/
  .showimage{
	margin-top:0px;
	margin-right:1vw;
	padding-bottom:10px;
}

/**This is to change the size of the image in the show page when mobile**/
  img{
  	width:95%;
  	padding-left:0px;
  	margin-left:0px;
  }

/**This is to fix the buttons (attend,edit,delete) when logged in- show page**/
  .btnattendcolor-loggedin{
	margin-left:18vw;
}

/**This is to fix the box on event show page when mobile **/
  .showbox{
  	margin-top:25px;
  	margin-left:-20px;
  	margin-right:20px;
  }

  table{
  	margin-left: 0;
  }

}


@media screen and (min-width: 480px) and (max-width: 805px) {
/**This is to make 'Make a diff' disappear when mobile**/
  #dis{ 
  	display: none; 
  }
/**This is to move the volunteer button when mobile **/
  .btn-style{ 
  	margin-top: 5vh;
  	margin-left: 25px;
  }
/** This is to move the event box masonry when mobile **/
  #event-box{
	margin-left: -2vw;
}

  .home{
	
/* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
	}
/**This is to fix the image in the show page when mobile **/
  .showimage{
	margin-top:0px;
	margin-right:1vw;
	padding-bottom:10px;
}

/**This is to change the size of the image in the show page when mobile**/
  img{
  	width:95%;
  	padding-left:0px;
  	margin-left:0px;
  }

/**This is to fix the buttons (attend,edit,delete) when logged in- show page**/
  .btnattendcolor-loggedin{
	margin-left:18vw;
}

/**This is to fix the box on event show page when mobile **/
  .showbox{
  	margin-top:25px;
  	margin-left:-20px;
  	margin-right:20px;
  }

  table{
  	margin-left: 0;
  }

}

/**************************COVERPAGE*******************/

/** This is the 'Make a Difference' on the cover page **/
#cover-text{
	color:gray;
	font-size:5vw;
	margin-left:200px;
	margin-bottom:0px;
	margin-top:50px;
}

/** This is to style our "Volunteer" button on the cover page **/
.btn-style{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:22.5px;
	background:transparent;
	color:gray;
}

/** This is our 'Volunteer' button hover style **/
.btn-style:hover{
	opacity:0.5;
	background-color:white;
}


/** This is to move our "volunteer" button on cover **/
.enter{
	margin-left:30vw;
	margin-top: 2vh;
}

/** This is setting the background image on our cover page **/
.home{
	background-image: image-url('volunteer3.jpg');
/* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}


/*******************NAVBAR**********************/

/*****NAVBAR GENERAL******/

/** This makes the nav bar white **/
.trans{
	background-color:white;
}

body { 
	background-color: white;
	margin-top:30px; 
}

#login-nav input { 
	margin-bottom: 15px; 
}


#login-nav input { 
	margin-bottom: 15px; 
}

.header-fix{
	padding: 0px;
	margin: 0px;
	width: 100%;
	position: fixed;
	z-index:1;
	background-color: transparent;

}

.btn-pad{
	margin-top: 10px;
	margin-bottom: 10px;
}

/**for the sign in & settings button in the navbar**/
.btn-block{
	background:white;
	color:gray;
	border:1px solid rgb(150,150,150);
}

.btn-block:hover{
	background:transparent;
	color:black;
	border-color:black;
}


/*********LOGO**********/
.logo{
	border-radius: 50%;
	overflow: visible;

}

.logofirst
{
	color:rgb(69,69,69) ;
	padding-left: 12px;
	margin: 0px;
	font-size: 30px;
	font-family: "Verdana";
	text-decoration: none;

}

.logostyle
{
	color:rgb(69,69,69) ;
	font-size: 17px;
	font-family: "Verdana";
	padding-right: 10px;
	text-decoration: none;

}

a:hover{
	text-decoration: none;

}

/********VALIDATION STYLING********/
.flash{
	padding-top: 30px;
	padding-right: 60px;
	font-style: italic;
	float: right;	
}

.alert{
	padding-top: 20px;
	padding-left: 100px;
	margin-bottom: -20px;
	color: red;
}

.notice{
	padding-top: 20px;
	margin-bottom: -20px;
	
}

/****************ORGANIZATION*******************/

h4{
	margin-left: 50px;
}

/*********PAGINATION************************/
div.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #aaa;
}
div.pagination a:hover, div.pagination a:active {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid gray;
	color: black;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #aaa;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

/********TOGGLE PAST EVENTS*********/



/**************Yield Styling********************/
.contentunder {
    padding-top: 57px;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 30px;
}

.contentunderother{
	margin-left: 30px;
	padding-top: 57px;
	padding-bottom: 30px;
	width: 100%
}

.contentunderpull{
	padding-top: 57px;
	margin-bottom: -45px;
}

/*************UTILITY PAGES**************/

.about{
	padding-right: 50px;
}

.contact{
	padding-right: 50px;
}



/**************Footer********************/
.footer{
	padding-bottom: 50px;
}

.footer li{
	display: inline-block;
	padding-left: 5px;
}

.footer-right{
	float: right;
	margin-right: 93px;
}	

.copyright{
	opacity: .5;
	float: left;
	margin-left: 63px;
}


/*********TO MAKE FOOTER STICKY***********/
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -4em; /* the bottom margin is the negative value of the footer's height */
}
div.footer, .push {
	height: 4em; 
}


