
#cover-text{
	color:gray;
	font-size:5vw;
	margin-left:100px;
}


.btn-style{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:22.5px;
	background:transparent;
	color:gray;
}

.btn-style:hover{
	background-color:white;
}

.btn-style.hover{
	hover:white;
}

.enter{
	margin-left:30vw;
	margin-top: 5vh;
}


.home{
	background-image: url('/assets/volunteer3.jpg');
/* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.trans{
	background-color:white;
}


/******************VERY GENERAL***********************/
ul{
	padding-left: 5px;
	margin-left: 5px;

}

li{
	list-style-type: none;
}

a{
	color: #6685C2;
}

a:hover{
	color: #6685C2;
	text-decoration: none;

}

/****************ORGANIZATION*******************/

h4{
	margin-left: 50px;
}

/*********PAGINATION************************/
div.pagination {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #aaa;
}
div.pagination a:hover, div.pagination a:active {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #a0a0a0;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #aaa;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
