div.col-md-12 {
	background-color: rgb(237, 230, 222);
}

/*******************NAVBAR**********************/

/*****NAVBAR GENERAL******/
body { 
	background-color: rgb(237, 230, 222);
	margin-top:30px; 
}
#login-nav input { margin-bottom: 15px; }

.nav-colored{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

}

.header-fix{
	padding: 0px;
	margin: 0px;
	width: 100%;
	position: fixed;
	z-index:1;
	background-color: rgb(43, 95, 138);

}

.containbg{
/*	background-color: rgb(66, 120, 161);*/

}

/*Prevent content from going on top of fixed navbar*/
  .contentunder {
    padding-top: 70px;
  }

/*********LOGO**********/
.logofirst
{
	color: ;
	padding-left: 12px;
	margin: 0px;
	font-size: 30px;
	font-family: "Comic Sans MS";
	text-decoration: none;

}
.logostyle
{
	color: ;
	font-size: 17px;
	font-family: "Verdana";
	padding-right: 10px;
	text-decoration: none;

}
a:hover{
	text-decoration: none;

}


/*******************VIEWS GENERAL***********************/

/*******EVENT LIST********/

.viewhead{
	font-weight: bold;
	text-align: right;
	font-size: 40px;
	border-bottom: solid #515151 2px;
}


