
/******************VERY GENERAL***********************/
ul{
	padding-left: 5px;
	margin-left: 5px;

}

li{
	list-style-type: none;
}

a{
	color: #6685C2;
}

a:hover{
	color: #6685C2;
	text-decoration: none;

}