/*************STYLE FOR ITEMS IN LIST VIEW******************/

.alleventitems{
	list-style-type: none;
	background-color:;
	border-radius: 15px;


}

.eventitem{
	list-style-type: none;
	background-image: linear-gradient(to bottom, rgb(117, 172, 171), rgb(90, 140, 140));
	width: 93%;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	
}


.eventitem .eventbody{
	
	background-image: linear-gradient(to bottom, white, white);
	padding: 1px;
	padding-left: 50px;
	color: #555555;
	border-radius: 10px; 
	width: 100%;
	padding-bottom: 10px;
}

.eventitem li h2{
	
	background-image: linear-gradient(to bottom, white, white);
	color: #444444;
	text-align: left;
	border-radius: 3px; 
	width: 100%;
	font-style: Verdana;
	font-size: 30px;

}

.eventbody li{
	margin-top: 1px;
	margin-bottom: 1px;
	
}

.eventbody-first{
	display: inline-block;
	margin-right: 50px;

}

.eventbody-second{
	display: inline-block;

}

.event-title{

}

.event-date{

}

.event-org{

}

.event-req{
	
}

li span{
	font-weight: bold;
	margin-right: 20px;
}