
<h1 class="viewhead">All Events</h1>

<%if @viewer=='true' %>
	<%=render 'events/partials/currentparams'%>
	<%=render 'events/partials/eventitems'%>
<%else%>
	<%=render 'events/partials/currentparams'%>
	<%=render 'events/partials/eventtable'%>
<%end%>