<h1><%= @event.name %></h1>

<%=render 'events/partials/event'%>

<%if current_user&&current_user.events.include?(@event)%>
	<p>Already attending event!</p>
	<%=link_to "View my events", myevents_path%>
	<%elsif current_user%>

<%=link_to "Attend event!", attendevent_path(:attend=>@event.id), data: { confirm: 'Click OK to confirm your attendance!' }%>
<%else%>
<p>Please sign in to attend event!</p>

<%end%>



  
