<h1>Our Mission</h1>

<p> Ever feel like you wasted an afternoon or an entire weekend? Your time is a precious and limited resource. Our goal is to help you spend it in enriching yourself and your community. </p><br>
<p> We bring you events that are hosted by organizations dedicated to making the world a better place. Participate in diverse activities, meet new people, and live the stories you will be telling people at parties! What are you waiting for?</p>