<h1>Contact Us!</h1>

<div class="contact">
	<p>We want to give you a wonderful experience. Feedback and constructive criticism are always welcome! </p>
	<br>
	<p>Please contact us at veequick@gmail.com.</p>

</div>