<h1>Contact Us!</h1>

<p>We are dedicated to making your experience a wonderful one. Please give us any feedback in making your surfing experience better or just throwing a friendly greeting our way! </p>
<br >
<p>Contact us at veequick@gmail.com</p>


<!--We are a team!-->