<div class="home">
		<div id="dis"> <h1 id="cover-text"> Make a difference. </h1> </div>
		<div class="enter">
		<%= link_to('Volunteer', events_path, :class => 'btn btn-large btn-default btn-style')  %>
	</div>
</div>




