<h1>Organizations</h1>

<table>
	<tbody>
		<tr>
			<th> Event </th>
			<th> Date and Time </th>
			<th> Organization </th>
		</tr>
		<%= render partial: "event", collection: @events %>
	</tbody>
<table>