<h1 class="orgtitle">Organizations</h1>

<table>
	<tbody>
		<tr>
			<th class="tableorg"> Organization Name </th>
			<th class="tableorg"> Website </th>
		</tr>
		<% @organizations.each do |org| %>
		<tr>
			<td class="blue"> <%= link_to org.name, org %> </td>
			<td class="blue"> <%= link_to org.website, "http://"+org.website %> </td>
		</tr>
		<% end %>
	</tbody>
</table>