<h1>Organizations</h1>

<table>
	<tbody>
		<tr>
			<th> Organization Name </th>
			<th> Description </th>
		</tr>
		<% @organizations.each do |org| %>
		<tr>
			<td> <%= link_to org.name, org %> </td>
			<td> <%= org.description %> </td>
		</tr>
		<% end %>
	</tbody>
</table>