<h1>Organizations</h1>

<table>
	<tbody>
		<tr>
			<th> Organization Name </th>
			<th> Description </th>
		</tr>
		<% @organizations.each do |org| %>
		<tr>
			<td> <%= org.name %> </td>
			<td> <%= org.description %> </td>
		</tr>
		<% end %>
	</tbody>
<table>